<div class="modal fade" id="modalResetPassword" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset password</h5>
                <a #modalResetPassword aria-label="Close" class="close" data-dismiss="modal" href="#">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="formReset.valid && resetPassword()" [formGroup]="formReset">
                    <div class="form-group">
                        <label class="form-label" for="emailForgotPassword">Email address</label>
                        <div class="form-control-wrap">
                            <input
                                    [ngClass]="{'is-invalid': formReset.get('emailReset')?.touched && formReset.get('emailReset')?.invalid}"
                                    class="form-control" formControlName="emailReset"
                                    id="emailForgotPassword"
                                    placeholder="bob.razowski@gmail.com"
                                    type="email">


                            <div *ngIf="formReset.get('emailReset')?.touched && formReset.get('emailReset')?.invalid"
                                 class="invalid-feedback">
                                <div *ngIf="formReset.get('emailReset')?.errors?.required">
                                    Email address is required
                                </div>
                                <div *ngIf="formReset.get('emailReset')?.errors?.email">
                                    Email address is badly formatted
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!formReset.valid" class="btn btn-lg btn-primary" data-bs-dismiss="modal"
                                data-dismiss="modal"
                                type="submit">Send
                            link reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>